
.container {
    /* backgroundlinear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(165, 46, 194, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    background-color: #C9C9B6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 5px solid red; */
    width: 100%;
    height: 1000px;
}

.container-dark-colour {

    position: absolute;
    top: 100px;
    left: 800px;
    width: 30%;
    height: 900px;
    background-color: #848475;
}

.item {
    /* background: rgb(2, 0, 36); */
    background-color: white;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(127, 19, 235, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    border: 2px solid black;
    margin: 50px;
    margin-top: 500px;
    width: 300px;
    height: 400px;
    align-items: center;
    z-index: 2;
}

.Edi {

    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(85, 46, 194, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    border-radius: 5px;
    color: white;
    padding: 40px;
    text-decoration: none;
    font-size: 16px;
    margin: 70px;

}


div img.sofa-image {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 950px;
    height: 400px;
    z-index: 5px;
    object-fit: cover;
}


.item5 {

    display: flex;
    padding-top: 100px;
    padding-left: 20px;
    margin: 2px;
    font-size: 20px;
    font-family: sans-serif;
    color: #848475
}

.item p {
    color: #848475;
    font-size: 22px;
    width: 70%;
    margin-left: 23px;

}

.item-anchor {
    margin-left: 20px;
    font-size: 25px;
    color: #848475;

}

